alembic==1.9.3
fastapi==0.90.1
# gunicorn
mysqlclient==2.1.1
pytest==7.2.1
SQLAlchemy==2.0.2
sqlalchemy_utils==0.39.0
uvicorn==0.20.0
pandas==1.5.3
python-multipart==0.0.5
python-jose==3.3.0
#passlib==1.7.4
#bcrypt==4.0.1